.background {
    -fx-background-color: linear-gradient(to bottom, black, #4f596e);
}

#user_avatar {
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-border-color: white;
}

#friends_pane {
    -fx-border-color: white;
    -fx-border-width: 5;
    -fx-border-radius: 20;
}

#friends_label {
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: white;
}

#find_user_pane {
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-color: white;
    -fx-border-width: 2;
}

#find_user_scroll {
    -fx-background-radius: 30;

    -fx-border-radius: 30;
    -fx-border-color: white;
    -fx-border-width: 2;
}

#find_friend_pane {
    -fx-background-radius: 10;

    -fx-border-radius: 5;
    -fx-border-color: linear-gradient(to right, white, #666666);
    -fx-border-width: 2;
}

.scroll {
    -fx-background-color: transparent;
}

.scroll .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #8E8E8E;
    -fx-background-radius: 5;
}